/************* General *************/
* {
    font-family: 'Raleway', sans-serif;                               /* Définit la police principale du site en 'Raleway', avec un fallback sur sans-serif */
    list-style-type: none;                                            /* Retire les puces des listes */
    text-decoration: none;                                            /* Enlève les soulignements des liens */
    margin: 0;                                                        /* Supprime les marges par défaut de tous les éléments */
    box-sizing: border-box;                                           /* Assure que les bordures et paddings sont inclus dans la largeur/hauteur totale des éléments */
}

:root {
    --main-color: #0065FC;                                          /* Définit la couleur principale (bleu) utilisée dans le site */
    --main-bg-color: #F2F2F2;                                       /* Définit la couleur de fond principale (gris clair) */
    --filter-bg-color: #DEEBFF;                                     /* Définit la couleur de fond utilisée pour les filtres (bleu très clair) */
}

.fa-solid,
i {
    color: var(--main-color);                                         /* Définit la couleur des icônes FontAwesome et des éléments <i> comme la couleur principale (bleu) */
}

body {
    display: flex;                                                    /* Utilise Flexbox pour organiser le contenu de la page */
    justify-content: center;                                          /* Centre horizontalement le contenu à l'intérieur du body */
}

.main-container {
    width: 100%;                                                      /* Le conteneur prend toute la largeur disponible */
    max-width: 1440px;                                                /* Limite la largeur maximale du conteneur à 1440px */
    padding: 0 50px;                                                  /* Ajoute un padding de 50px à gauche et à droite */
    box-sizing: border-box;                                           /* Inclut les bordures et le padding dans les calculs de largeur et hauteur */
}

a {
    color: inherit;                                                   /* Lien hérite de la couleur du parent */
    text-decoration: none;                                            /* Supprime le soulignement des liens */
}

.section-title {
    margin: 0;                                                        /* Retire la marge par défaut autour des titres de section */
    font-size: 22px;                                                  /* Définit la taille de la police des titres de section */
}

.card {
    background-color: white;                                        /* Définit le fond des cartes en blanc */
    border-radius: 20px;                                              /* Arrondit les coins des cartes avec un rayon de 20px */
    padding: 5px;                                                     /* Ajoute un padding interne de 5px autour des cartes */
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));           /* Ajoute une légère ombre portée autour des cartes */
}

.card img {
    object-fit: cover;                                                /* Assure que l'image couvre toute la zone de la carte sans déformation */
}

.card-title {
    font-size: 16px;                                                  /* Définit la taille de la police des titres de cartes à 16px */
}

.euro {
    font-weight: 700;                                                 /* Applique une graisse de police (gras) au texte de la classe 'euro' */
}

.neutral-star {
    color: var(--main-bg-color);                                      /* Définit la couleur des étoiles neutres comme la couleur de fond principale (gris clair) */
}

html {
    scroll-behavior: smooth;                                          /* Active un défilement fluide lors du passage d'un point à un autre de la page */
}


/************* Navigation - logo et lien *************/
.global-nav {
    display: flex;                                                    /* Utilise Flexbox pour organiser les éléments de la barre de navigation */
    justify-content: space-between;                                   /* Distribue les éléments de façon égale entre le début et la fin du conteneur */
    max-width: 1440px;                                                /* Limite la largeur maximale de la navigation à 1440px */
    height: 79px;                                                     /* Définit la hauteur de la barre de navigation à 79px */
    margin-bottom: 30px;                                              /* Ajoute une marge de 30px sous la barre de navigation */
}

.global-nav img {
    display: block;                                                   /* Affiche l'image comme un bloc, ce qui évite tout espace en dessous de l'image */
    width: 61px;                                                      /* Définit la largeur de l'image (probablement le logo) à 61px */
    height: 19px;                                                     /* Définit la hauteur de l'image (probablement le logo) à 19px */
    align-self: center;                                               /* Centre verticalement l'image à l'intérieur du conteneur Flexbox */
}

nav {
    display: flex;                                                    /* Utilise Flexbox pour disposer les éléments de navigation horizontalement */
    gap: 68px;                                                        /* Définit un écart de 68px entre les éléments de navigation */
    height: 33px;                                                     /* Définit la hauteur de la barre de navigation secondaire à 33px */
    padding: 0px 0px 0px 50px;                                        /* Applique un padding de 50px à gauche, et aucun padding en haut, droite ou bas */
}

nav a {
    color: black;                                                   /* Définit la couleur du texte des liens en noir */
    text-align: center;                                               /* Centre le texte à l'intérieur des liens */
    padding-top: 14px;                                                /* Ajoute un padding de 14px au-dessus du texte pour espacer les éléments dans la barre de navigation */
    font-size: 16px;                                                  /* Définit la taille de la police des liens à 16px */
    border-top: 2px solid transparent;                                /* Ajoute une bordure supérieure de 2px, mais elle est transparente par défaut */
}

nav a:hover {
    border-top: 2px solid var(--main-color);                          /* Lorsque le lien est survolé, la bordure supérieure devient colorée avec la couleur principale */
    color: var(--main-color);                                         /* Lorsque le lien est survolé, sa couleur change pour la couleur principale */
}


/************* Barre de recherche *************/
.search-bar {
    margin-top: 30px;                                                 /* Ajoute une marge de 30px au-dessus de la barre de recherche */
}

.search-bar h1 {
    margin-bottom: 8px;                                               /* Ajoute une marge de 8px en dessous de l'élément <h1> à l'intérieur de la barre de recherche */
}

.search-bar p {
    margin-top: 8px;                                                  /* Ajoute une marge de 8px au-dessus du paragraphe */
    margin-bottom: 35px;                                              /* Ajoute une marge de 35px en dessous du paragraphe */
    color: rgb(78, 77, 77);                                         /* Définit la couleur du texte du paragraphe à une nuance de gris */
    font-size: 16px;                                                  /* Définit la taille de la police du paragraphe à 16px */
}

.search-bar .map {
    display: flex;                                                    /* Utilise Flexbox pour organiser les éléments à l'intérieur de .map */
    align-items: center;                                              /* Centre les éléments verticalement à l'intérieur du conteneur .map */
}

.search-bar .map form {
    display: flex;                                                    /* Utilise Flexbox pour organiser les éléments du formulaire à l'intérieur de .map */
    flex-direction: row;                                              /* Dispose les éléments du formulaire horizontalement */
}

.search-bar .fa-solid {
    background-color: #F2F2F2;                                      /* Définit la couleur de fond de l'icône (probablement la loupe) à #F2F2F2 */
    color: #000;                                                    /* Définit la couleur de l'icône à noir */
    border-radius: 15px 0 0 15px;                                     /* Applique des bords arrondis aux coins supérieur gauche et inférieur gauche */
    height: 49px;                                                     /* Définit la hauteur de l'icône à 49px */
    width: 50px;                                                      /* Définit la largeur de l'icône à 50px */
    display: flex;                                                    /* Utilise Flexbox pour centrer l'icône à l'intérieur du conteneur */
    justify-content: center;                                          /* Centre horizontalement l'icône à l'intérieur de son conteneur */
    align-items: center;                                              /* Centre verticalement l'icône à l'intérieur de son conteneur */
    font-size: 112%;                                                  /* Définit la taille de l'icône à 112% de la taille par défaut */
}

.search-bar input {
    position: relative;                                               /* Définit la position de l'élément en relation avec son conteneur */
    height: 49px;                                                     /* Définit la hauteur de l'input à 49px */
    width: 236px;                                                     /* Définit la largeur de l'input à 236px */
    border: #F2F2F2 1px solid;                                      /* Applique une bordure grise claire autour de l'input */
    font-weight: bold;                                                /* Rend le texte dans l'input en gras */
    font-size: 119%;                                                  /* Définit la taille de la police à 119% de la taille par défaut */
}

.search-bar input::placeholder {
    color: black;                                                   /* Définit la couleur du texte de l'placeholder à noir */
    padding: 0px 20px 0px 20px;                                       /* Ajoute un padding de 20px à gauche et à droite du texte du placeholder */
}

.search-bar #search-desktop {
    border-radius: 0 15px 15px 0;                                     /* Applique des bords arrondis aux coins supérieur droit et inférieur droit */
    border: none;                                                     /* Supprime la bordure de l'élément */
    height: 49px;                                                     /* Définit la hauteur du bouton de recherche à 49px */
    width: 132px;                                                     /* Définit la largeur du bouton de recherche à 132px */
    display: flex;                                                    /* Utilise Flexbox pour centrer le contenu du bouton */
    justify-content: center;                                          /* Centre le contenu horizontalement à l'intérieur du bouton */
    align-items: center;                                              /* Centre le contenu verticalement à l'intérieur du bouton */
    color: #ffffff;                                                 /* Définit la couleur du texte du bouton à blanc */
    font-weight: 600;                                                 /* Définit le texte du bouton en semi-gras */
    background-color: #0065FC;                                      /* Définit la couleur de fond du bouton de recherche à la couleur principale */
    cursor: pointer;                                                  /* Change le curseur au survol pour indiquer que l'élément est cliquable */
    font-size: 17px;                                                  /* Définit la taille de la police du texte à 17px */
}

.search-bar #search-mobile {
    display: none;                                                    /* Masque l'élément avec l'ID #search-mobile (probablement pour mobile) */
}


/************* Section filtre *************/
.filters-section {
    display: flex;                                                    /* Utilise Flexbox pour organiser les éléments à l'intérieur de .filters-section */
    margin: 35px 0 0 0px;                                             /* Applique une marge de 35px en haut, et aucune marge à gauche, droite et bas */
    align-items: center;                                              /* Centre les éléments verticalement à l'intérieur de .filters-section */
    gap: 15px;                                                        /* Ajoute un espacement de 15px entre chaque élément enfant de .filters-section */
}

.filters-section h2 {
    font-size: 18px;                                                  /* Définit la taille de la police du titre à 18px */
    margin-left: 6px;                                                 /* Ajoute une marge de 6px à gauche du titre */
}

.filters-section p {
    font-weight: bold;                                                /* Rend le texte du paragraphe en gras */
    font-size: 17px;                                                  /* Définit la taille de la police du paragraphe à 17px */
}

.filters-list {
    display: flex; ;                                                  /* Utilise Flexbox pour organiser les éléments à l'intérieur de .filters-list */
    align-items: center;                                              /* Centre verticalement les éléments à l'intérieur de .filters-list */
    flex-wrap: wrap;                                                  /* Permet aux éléments de passer à la ligne si nécessaire */
    gap: 15px;                                                        /* Ajoute un espacement de 15px entre les éléments de .filters-list */
}

.filters-types {
    display: flex;                                                   /* Utilise Flexbox pour organiser les éléments à l'intérieur de .filters-types */
    align-items: center;                                             /* Centre verticalement les éléments à l'intérieur de .filters-types */
    height: 50px; ;                                                  /* Définit la hauteur de chaque élément de filtre à 50px */
    border: 2px solid #d9d9d9;                                     /* Applique une bordure grise claire autour de l'élément */
    border-radius: 40px;                                             /* Applique des bords arrondis avec un rayon de 40px */
    padding: 4px 19px;                                               /* Applique un padding de 4px en haut et en bas, et 19px à gauche et à droite */
    transition: 0.3s;                                                /* Ajoute une transition douce de 0.3 secondes pour les propriétés modifiables */
    gap: 10px;                                                       /* Ajoute un espacement de 10px entre les éléments à l'intérieur de .filters-types */
    box-sizing: border-box;                                          /* Inclut la bordure et le padding dans les calculs de la largeur et de la hauteur */
}

.filters-types:hover {
    background-color: #DEEBFF;                                     /* Change la couleur de fond de l'élément en bleu clair lorsqu'il est survolé */
    border: 2px solid #DEEBFF;                                     /* Change la couleur de la bordure en bleu clair lors du survol */
    cursor: pointer;                                                 /* Change le curseur au survol pour indiquer que l'élément est cliquable */
}

.filters-types:hover .filters-icon {
    transform: rotate(10deg);                                        /* Applique une rotation de 10 degrés à l'icône à l'intérieur de l'élément .filters-types lors du survol */
}


/************* Section info *************/
.info-section {
    margin-top: 35px;                                                /* Ajoute une marge de 35px au-dessus de la section */
    margin-bottom: 35px;                                             /* Ajoute une marge de 35px en dessous de la section */
}

.searchplus {
    display: flex;                                                   /* Utilise Flexbox pour disposer les éléments enfants horizontalement */
    align-items: center;                                             /* Centre verticalement les éléments dans le conteneur */
    height: 24px;                                                    /* Définit la hauteur totale de la ligne à 24px */
    gap: 10px;                                                       /* Met un espacement de 10px entre les éléments enfants */
}

.searchplus .fa-info {
    display: flex;                                                   /* Utilise Flexbox pour l’icône afin de centrer son contenu */
    justify-content: center;                                         /* Centre horizontalement l’icône dans son conteneur */
    align-items: center;                                             /* Centre verticalement l’icône dans son conteneur */
    color: #0065FC;                                                /* Colore l’icône en bleu */
    border: 1px solid #d9d9d9;                                     /* Applique une bordure grise autour de l’icône */
    width: 24px;                                                     /* Largeur fixe de l’icône */
    height: 24px;                                                    /* Hauteur fixe de l’icône (égale à sa largeur pour former un cercle) */
    font-size: 0.75em;                                               /* Réduit la taille de l’icône à 75% de la taille de police par défaut */
    border-radius: 50%;                                              /* Rend l’icône parfaitement ronde */
}

.searchplus p {
    font-size: 106%;                                                 /* Augmente légèrement la taille du texte à 106% de la taille de base */
    color: rgb(59, 59, 59);                                        /* Utilise un gris foncé pour le texte */
}

/************* Hebergements et populaires *************/
.hebergements-and-populaires {
    display: flex;                                                   /* Utilise Flexbox pour disposer les deux sections côte à côte */
    justify-content: space-between;                                  /* Crée un espacement maximal entre les deux sections */
}

.section-title {
    margin: 0;                                                       /* Supprime les marges par défaut autour du titre */
    font-size: 22px;                                                 /* Définit la taille de police du titre à 22px */
}

.card-title {
    font-size: 16px;                                                 /* Définit la taille de police du titre d’une carte à 16px */
}

.euro {
    font-weight: 700;                                                /* Rend le symbole de l’euro (ou le prix) en gras */
}

.neutral-star {
    color: var(--main-bg-color);                                     /* Applique la couleur de fond principale (gris clair) aux étoiles neutres */
}

.card-rating {
    color: #0065FC;                                                /* Applique la couleur bleue principale aux étoiles actives */
}


/************* Herbegements cartes *************/
.hebergements {
    width: 67%;                                                      /* Prend environ les deux tiers de la largeur totale */
    background-color: var(--main-bg-color);                          /* Applique la couleur de fond principale définie dans :root */
    border-radius: 20px;                                             /* Arrondit les coins du conteneur */
    padding: 30px;                                                   /* Ajoute de l’espace intérieur autour du contenu */
    box-sizing: border-box;                                          /* Inclut le padding et la bordure dans les dimensions totales */
}

.hebergements-cards {
    display: flex;                                                   /* Utilise Flexbox pour organiser les cartes */
    flex-wrap: wrap;                                                 /* Permet aux éléments de passer à la ligne si nécessaire */
    justify-content: space-between;                                  /* Répartit les cartes uniformément avec de l’espace entre elles */
}

.lien-card {
    width: 30%;                                                      /* Chaque carte occupe environ 30% du conteneur */
    min-width: 120px;                                                /* Évite que la carte devienne trop étroite */
    background-color: white;                                       /* Fond blanc pour chaque carte */
    padding: 5px;                                                    /* Espace intérieur */
    margin-top: 33px;                                                /* Espacement au-dessus des cartes */
    border-radius: 15px;                                             /* Coins arrondis */
    box-shadow: 5px 5px 10px #DADADA;                              /* Ombre portée douce pour créer de la profondeur */
    transition: 0.3s;                                                /* Rend les transitions (ex. : hover) fluides */
}

.lien-card img {
    width: 100%;                                                     /* Image prend toute la largeur de la carte */
    height: 120px;                                                   /* Hauteur fixe de l’image */
    object-fit: cover;                                               /* L’image garde ses proportions et remplit le cadre sans déformation */
    border-top-left-radius: 20px;                                    /* Arrondit le coin supérieur gauche de l’image */
    border-top-right-radius: 20px;                                   /* Arrondit le coin supérieur droit de l’image */
}

.card-title-hebergements {
    margin: 1px 0 8px 15px;                                          /* Marge spécifique autour du titre de la carte */
}

.card-subtitle-hebergements {
    margin: 8px 0 8px 15px;                                          /* Marge autour du sous-titre (ex : nom du lieu ou description) */
}

.text-fin-hebergements {
    font-size: 18px;                                                 /* Taille de police pour le texte final (souvent un lien ou une info complémentaire) */
    margin-top: 33px;                                                /* Espacement au-dessus de ce texte */
}

.card-rating-hebergements {
    color: #0065FC;                                                /* Applique la couleur bleue principale aux étoiles de notation */
    margin: 0 0 0 15px;                                              /* Décalage gauche pour aligner avec les autres éléments textuels */
}


/************* Populaires cartes *************/
.populaires {
    width: 32%;                                                      /* Prend environ un tiers de l’espace (en complément des 67% pour les hébergements) */
    background-color: var(--main-bg-color);                          /* Applique la couleur de fond principale */
    border-radius: 20px;                                             /* Coins arrondis */
    padding: 30px;                                                   /* Ajoute de l’espace intérieur */
    box-sizing: border-box;                                          /* Inclut le padding et la bordure dans les dimensions */
}

.populaires-title {
    display: flex;                                                   /* Utilise Flexbox pour disposer les éléments (ex. : titre et icône) */
    justify-content: space-between;                                  /* Place les éléments aux extrémités (gauche et droite) */
    align-items: center;                                             /* Aligne verticalement les éléments */
}

.populaires-cards .card {
    display: flex;                                                   /* Dispose l’image et le contenu côte à côte */
    margin-top: 33px;                                                /* Espacement entre chaque carte */
}

.populaires-cards img {
    width: 33%;                                                      /* L’image prend un tiers de la largeur de la carte */
    height: 136px;                                                   /* Hauteur fixe pour toutes les images */
    border-top-left-radius: 20px;                                    /* Arrondi du coin supérieur gauche de l’image */
    border-bottom-left-radius: 20px;                                 /* Arrondi du coin inférieur gauche de l’image */
}

.populaires-cards .card-content {
    width: 67%;                                                      /* Le contenu prend le reste de la largeur */
    padding-left: 15px;                                              /* Espace entre l’image et le texte */
    display: flex;                                                   /* Flexbox pour organiser les textes et les étoiles */
    flex-direction: column;                                          /* Dispose les éléments en colonne (titre, sous-titre, étoiles) */
    justify-content: space-between;                                  /* Répartit l’espace entre les éléments */
    box-sizing: border-box;                                          /* Inclut le padding dans la largeur totale */
}

.populaires-cards .card-title {
    margin-top: 10px;                                                /* Espace au-dessus du titre */
    margin-bottom: 4px;                                              /* Espace en dessous du titre */
}

.populaires-cards .card-subtitle {
    margin: 0;                                                       /* Aucun espacement au-dessus ni en dessous du sous-titre */
}

.populaires-cards .card-rating {
    margin-bottom: 5px;                                              /* Petit espace sous les étoiles de notation */
}


/************* Activites cartes *************/
.activites-section {
    margin-bottom: 35px;                                             /* Ajoute un espace en bas de la section */
    padding: 30px;                                                   /* Ajoute un espace intérieur autour du contenu */
}

.activites-section h2 {
    font-size: 22px;                                                 /* Taille du titre */
    margin-top: 0px;                                                 /* Supprime l’espace au-dessus du titre */
    margin-bottom: 30px;                                             /* Espace entre le titre et les cartes */
}

.activites-list {
    display: flex;                                                   /* Utilise Flexbox pour disposer les cartes en ligne */
    align-items: flex-start;                                         /* Aligne les éléments en haut */
    gap: 30px;                                                       /* Espacement entre chaque carte */
}

.activites-card {
    width: 30%;                                                      /* Chaque carte prend environ un tiers de la largeur disponible */
}

.activites-card article {
    background-color: #ffffff;                                     /* Fond blanc pour chaque carte */
    border-radius: 20px;                                             /* Coins arrondis */
    box-shadow: 5px 5px 15px #DADADA;                              /* Ombre portée pour créer un effet de profondeur */
    overflow: hidden;                                                /* Cache ce qui dépasse des bords arrondis */
    transition: 0.3s;                                                /* Animation fluide si des effets sont appliqués (ex. au survol) */
}

.activites-card img {
    width: 100%;                                                     /* L’image prend toute la largeur de la carte */
    height: 380px;                                                   /* Hauteur fixe pour homogénéiser toutes les cartes */
    object-fit: cover;                                               /* L’image est recadrée pour remplir son conteneur sans déformation */
    border-radius: 20px 20px 0px 0px;                                /* Coins supérieurs arrondis uniquement */
}

.activites-card h3 {
    display: flex;                                                   /* Utilise Flexbox pour centrer verticalement le texte (utile s’il y a plusieurs lignes) */
    justify-content: center;                                         /* Centre le texte horizontalement */
    flex-direction: column;                                          /* Organise les éléments (s’il y en a plusieurs) en colonne */
    font-size: 16px;                                                 /* Taille du titre */
    padding: 20px 19px;                                              /* Espacement intérieur autour du titre */
    gap: 10px;                                                       /* Espace entre les lignes si plusieurs éléments internes */
    margin: 0px;                                                     /* Supprime les marges autour du h3 */
}


/************* Footer *************/
.global-footer {
    max-width: 1440px;                                                /* Limite la largeur maximale du pied de page à 1440px */
    margin: auto;                                                     /* Centre horizontalement le footer dans la page */
    display: flex;                                                    /* Utilise Flexbox pour disposer les éléments en ligne */
    justify-content: flex-start;                                      /* Aligne les éléments à gauche */
    background-color: #F2F2F2;                                      /* Couleur de fond gris clair */
    padding: 21px;                                                    /* Ajoute de l’espace intérieur autour du contenu */
    margin-bottom: -11px;                                             /* Tire légèrement le pied de page vers le bas (souvent pour ajustement visuel) */
}

.footer-menu {
    width: 32%;                                                       /* Chaque bloc de menu dans le footer prend environ un tiers de la largeur disponible */
}

.title-footer {
    font-size: 18px;                                                  /* Taille de la police du titre de chaque menu */
    margin-top: 0;                                                    /* Supprime l’espace au-dessus du titre */
    margin-bottom: 0;                                                 /* Supprime l’espace en dessous du titre */
}

.footer-menu ul {
    padding-left: 0px;                                                /* Supprime le retrait par défaut du <ul> */
    margin: 0;                                                        /* Supprime les marges par défaut */
}

.footer-menu li {
    margin-top: 15px;                                                 /* Ajoute de l’espace entre chaque élément de la liste */
}



/*********** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {                   /* Définition d'un point d'arrêt pour les écrans de taille moyenne (tablettes) */

    /************* Navigation - logo et lien *************/
    .global-nav nav {
        margin: 0px;                                                  /* Supprime la marge autour du menu de navigation */
    }

    /************* Section filtre *************/
    .filters-section {
        display: flex;                                                /* Utilisation de Flexbox pour une disposition fluide */
        flex-direction: column;                                       /* Organise les éléments en colonne */
        justify-content: center;                                      /* Centre les éléments horizontalement */
        align-items: flex-start;                                      /* Aligne les éléments au début de l'axe horizontal */
        gap: 20px;                                                    /* Ajoute un espace entre chaque élément */
    }

    /************* Section infos *************/
    .searchplus .fa-info {
        width: 24px;                                                  /* Définit une largeur spécifique pour l'icône d'information */
        height: 24px;                                                 /* Définit une hauteur spécifique pour l'icône d'information */
    }

    /************* Hebergements et Populaires *************/
    .hebergements-and-populaires {
        flex-direction: column;                                       /* Change la direction des éléments en colonne */
    }

    /************* Hebergements cartes *************/
    .hebergements {
        width: 100%;                                                  /* Permet à la section des hébergements de prendre toute la largeur disponible */
    }

    /************* Populaires cartes *************/
    .populaires {
        width: 100%;                                                  /* Permet à la section des populaires de prendre toute la largeur disponible */
        margin-top: 50px;                                             /* Ajoute un espace au-dessus de la section Populaires */
    }
    .populaires-cards {
        display: flex;                                                /* Affiche les cartes populaires en Flexbox */
        justify-content: space-between;                               /* Espace uniformément les cartes */
    }

    .populaires-cards .card {
        width: 30%;                                                   /* Les cartes prennent 30% de la largeur */
    }

    .populaires-cards .card-title {
        font-size: 14px;                                              /* Réduit la taille de la police pour le titre de la carte */
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;                                              /* Réduit la taille de la police pour le sous-titre de la carte */
    }

    /************* Activites cartes *************/
    .activites-searchresults {
        margin-top: 35px;                                             /* Ajoute un espace au-dessus des résultats de recherche d'activités */
    }
    .activites-list {
        display: flex;                                                /* Affiche la liste d'activités en Flexbox */
        height: 270px;                                                /* Définit une hauteur pour la liste d'activités */
        width: 100%;                                                  /* Utilise toute la largeur disponible */
        object-fit: cover;                                            /* Assure que l'image s'adapte bien au cadre */
    }
    .activites-card article {
        width: 100%;                                                  /* Les cartes d'activités prennent toute la largeur disponible */
    }
    .activites-card img {
        height: 200px;                                                /* Définit une hauteur pour les images des cartes d'activités */
    }
    .activites-card h3 {
        width: auto;                                                  /* Permet au titre de s'adapter à la largeur de l'élément parent */
        height: auto;                                                 /* Permet au titre de s'adapter à la hauteur de l'élément parent */
    }

    /************* Footer *************/
    .global-footer {
        gap: 31px;                                                    /* Ajoute un espace de 31px entre les éléments du pied de page */
    }
}


/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {                                           /* Point d'arrêt pour les écrans de taille mobile (moins de 767px) */

    /************* Navigation - logo et lien *************/
    .main-container {
        padding: 0;                                                   /* Retire la marge/padding de la zone principale */
    }
    .global-nav {
        height: auto;                                                 /* Ajuste la hauteur de la navigation */
        flex-direction: column;                                       /* Arrange les éléments de la navigation en colonne */
        align-items: center;                                          /* Centre les éléments horizontalement */
    }
    .global-nav img {
        margin: 30px;                                                 /* Ajoute une marge autour de l'image dans la navigation */
    }
    .global-nav nav {
        width: 100%;                                                  /* L'élément de navigation prend toute la largeur */
        gap: 0;                                                       /* Supprime l'espace entre les éléments de la navigation */
        padding: 0;                                                   /* Supprime le padding autour de la navigation */
        display: flex;                                                /* Affiche les éléments de la navigation en flex */
    }
    .global-nav nav a {
        width: 50%;                                                   /* Chaque lien prend 50% de la largeur */
        padding-top: 0;                                               /* Enlève le padding en haut des liens */
        border-bottom: 2px solid transparent;                         /* Définie un bord transparent par défaut */
        border-top: 0;                                                /* Enlève la bordure du haut */
    }
    .global-nav nav a:hover {
        border-top: transparent;                                      /* Enlève la bordure du haut au survol */
        border-bottom: 2px solid var(--main-color);                   /* Change la bordure en couleur principale au survol */
    }

    /************* Barre de recherche *************/
    .search-bar {
        padding: 0 20px;                                              /* Ajoute un padding horizontal à la barre de recherche */
    }
    .search-bar h1 {
        font-size: 22px;                                              /* Réduit la taille de la police du titre */
    }
    .search-bar .map {
        display: flex;                                                /* Affiche les éléments à l'intérieur en Flexbox */
        align-items: center;                                          /* Centre les éléments verticalement */
        position: relative;                                           /* Permet le positionnement relatif des éléments à l'intérieur */
        gap: 0;                                                       /* Supprime l'espace entre les éléments */
    }
    .search-bar .map form {
        display: flex;                                                /* Affiche le formulaire en Flexbox */
        flex: 1;                                                      /* Le formulaire prend toute la largeur disponible */
    }
    .search-bar .fa-location-dot {
        background-color: #F2F2F2;                                  /* Couleur de fond pour l'icône */
        color: #000;                                                /* Couleur de l'icône */
        border-radius: 15px 0 0 15px;                                 /* Arrondi des coins */
        height: 49px;                                                 /* Hauteur de l'icône */
        width: 50px;                                                  /* Largeur de l'icône */
        display: flex;                                                /* Affiche l'icône en Flexbox */
        justify-content: center;                                      /* Centre l'icône horizontalement */
        align-items: center;                                          /* Centre l'icône verticalement */
        font-size: 112%;                                              /* Taille de l'icône */
    }
    .search-bar input.city {
        width: 90%;                                                   /* Largeur de l'input */
        height: 49px;                                                 /* Hauteur de l'input */
        border: 1px solid #F2F2F2;                                  /* Bordure légère autour de l'input */
        font-weight: bold;                                            /* Gras pour le texte */
        font-size: 119%;                                              /* Taille de la police de l'input */
        border-radius: 0;                                             /* Pas de bordure arrondie */
    }
    .search-bar #search-desktop {
        display: none;                                                /* Cache le bouton de recherche sur desktop */
    }
    .search-bar #search-mobile {
        display: flex;                                                /* Affiche le bouton de recherche mobile */
        justify-content: center;                                      /* Centre le bouton */
        align-items: center;                                          /* Centre le bouton verticalement */
        height: 49px;                                                 /* Hauteur du bouton */
        width: 49px;                                                  /* Largeur du bouton */
        background-color: #0065FC;                                  /* Couleur de fond du bouton */
        color: #ffffff;                                             /* Couleur du texte du bouton */
        font-size: 18px;                                              /* Taille de la police du bouton */
        border-radius: 14px;                                          /* Arrondi des coins du bouton */
        cursor: pointer;                                              /* Change le curseur en pointeur lors du survol */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);                   /* Ajoute une ombre au bouton */
        position: absolute;                                           /* Positionnement absolu pour placer le bouton */
        right: 0;                                                     /* Place le bouton à droite */
    }

    /************* Section filtre *************/
    .filters-section {
        display: flex;                                                /* Affiche les éléments en Flexbox */
        padding: 0 20px;                                              /* Ajoute un padding horizontal à la section */
        flex-direction: column;                                       /* Organise les éléments en colonne */
        justify-content: center;                                      /* Centre les éléments horizontalement */
        align-items: flex-start;                                      /* Aligne les éléments au début */
        gap: 20px;                                                    /* Espace entre les éléments */
    }
    .filters-list {
        display: flex;                                                /* Affiche les éléments en Flexbox */
        width: 100%;                                                  /* Utilise toute la largeur disponible */
        align-items: flex-start;                                      /* Aligne les éléments au début */
        justify-content: space-between;                               /* Espace les éléments uniformément */
        gap: 0;                                                       /* Pas d'espace entre les éléments */
    }
    .filters-types {
        width: 49%;                                                   /* Chaque type de filtre prend 49% de la largeur */
        margin-bottom: 20px;                                          /* Marge inférieure entre les types de filtres */
        font-size: 13px;                                              /* Taille de la police pour les types de filtres */
    }

    /************* Section infos *************/
    .info-section {
        padding: 0 25px;                                              /* Ajoute un padding horizontal à la section d'information */
    }
    .searchplus .fa-info {
        max-width: 24px;                                              /* Limite la largeur maximale de l'icône d'information */
        max-height: 24px;                                             /* Limite la hauteur maximale de l'icône d'information */
    }

    /************* Hebergements et Populaires *************/
    .hebergements-and-populaires {
        flex-direction: column-reverse;                               /* Inverse l'ordre des éléments en colonne */
        gap: 15px;                                                    /* Espace entre les éléments */
    }

    /************* Hebergements cartes *************/
    .hebergements {
        display: block;                                               /* Affiche les hébergements comme éléments de bloc */
        width: 100%;                                                  /* Utilise toute la largeur disponible */
        padding: 20px;                                                /* Ajoute un padding autour des cartes d'hébergement */
        margin-bottom: 35px;                                          /* Espace sous les cartes d'hébergement */
        background-color: #ffffff;                                  /* Couleur de fond des cartes */
    }
    .hebergements .section-title {
        margin-bottom: 15px;                                          /* Espace sous le titre de la section */
    }
    .hebergements-cards {
        display: flex;                                                /* Affiche les cartes en Flexbox */
        flex-direction: column;                                       /* Organise les cartes en colonne */
        align-items: flex-start;                                      /* Aligne les cartes au début */
        gap: 15px;                                                    /* Espace entre les cartes */
    }
    .lien-card {
        width: 97%;                                                   /* Largeur des cartes presque complète */
        margin-top: 0;                                                /* Supprime la marge supérieure des cartes */
    }
    .text-fin-hebergements {
        margin-top: 15px;                                             /* Espace au-dessus du texte final des hébergements */
    }

    /************* Populaires cartes *************/
    .populaires {
        width: 100%;                                                  /* Utilise toute la largeur disponible pour la section Populaires */
        border-radius: 0;                                             /* Pas de bordure arrondie pour la section Populaires */
        padding: 30px 20px;                                           /* Ajoute du padding autour de la section Populaires */
    }
    .populaires-cards {
        display: flex;                                                /* Affiche les cartes en Flexbox */
        flex-direction: column;                                       /* Organise les cartes en colonne */
        gap: 15px;                                                    /* Espace entre les cartes */
    }
    .card {
        width: 98%;                                                   /* Les cartes prennent presque toute la largeur disponible */
        height: 146px;                                                /* Hauteur de chaque carte */
    }

    /************* Activites cartes *************/
    .activites-section {
        display: flex;                                                /* Affiche la section Activités en Flexbox */
        padding: 30px;                                                /* Ajoute du padding autour de la section */
        flex-direction: column;                                       /* Organise les éléments en colonne */
        align-items: flex-start;                                      /* Aligne les éléments au début */
    }
    .activites-list {
        display: flex;                                                /* Affiche la liste des activités en Flexbox */
        width: 100%;                                                  /* Utilise toute la largeur disponible */
        flex-direction: column;                                       /* Organise les éléments de la liste en colonne */
        align-items: flex-start;                                      /* Aligne les éléments au début */
        gap: 15px;                                                    /* Espace entre les éléments */
    }
    .activites-card {
        width: 100%;                                                  /* La carte d'activité prend toute la largeur disponible */
    }
    .activites-card img{
        width: 100%;                                                  /* L'image dans la carte s'adapte à la largeur de la carte */
        height: 141px;                                                /* La hauteur de l'image est fixée à 141px, indépendamment de la largeur */
    }
    
    /************* Footer *************/
    .global-footer {
        padding: 31px;                                                /* Ajoute un padding de 31px autour du footer */
        flex-direction: column;                                       /* Dispose les éléments du footer en colonne */
        gap: 51px;                                                    /* Ajoute un écart de 51px entre les éléments dans le footer */
    }
    .footer-menu {
        width: 263px;                                                 /* Fixe la largeur du menu du footer à 263px */
    }
    .footer-menu h4 {
        margin-bottom: 14px;                                          /* Ajoute une marge de 14px sous le titre du menu */
    }
    .footer-menu li {
        margin-top: 0;                                                /* Supprime la marge en haut des éléments de liste */
    }
    .footer-menu ul {
        display: flex;                                                /* Utilise un layout flex pour les éléments de la liste */
        flex-direction: column;                                       /* Aligne les éléments de la liste en colonne */
        align-items: flex-start;                                      /* Aligne les éléments au début de la colonne */
        gap: 14px;                                                    /* Ajoute un écart de 14px entre les éléments de la liste */
    }
}




