/************* General *************/
* {
    font-family: 'Raleway', sans-serif;
    list-style-type: none; /* a joute */
    text-decoration: none;
    margin: 0;
    box-sizing: border-box; /* a joute */
}
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}
.fa-solid,
i {
    color: var(--main-color); /* a ajoute*/
}
body {
    display: flex;
    justify-content: center;
}
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}
a {
    color: inherit;   /* a voir si ca fonctionne (l'autre color: #000;)*/
    text-decoration: none;
}
.section-title {
    margin: 0;
    font-size: 22px;
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card img {
    object-fit: cover;
}
.card-title {
    font-size: 16px;
}
.euro {
    font-weight: 700;
}
.neutral-star {
    color: var(--main-bg-color)
}

/************* Navigation - logo et lien *************/
.global-nav {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    height: 79px;
    margin-bottom: 30px;
}
.global-nav img {
    display: block;
    width: 61px;
    height: 19px;
    align-self: center; /* ou center si tu veux centrer verticalement */
}
nav {
    display: flex;
    gap: 68px;
    height: 33px;
    padding:0px 0px 0px 50px;
}
nav a{
    color: black;
    text-align: center;
    padding-top: 14px;
    font-size: 16px;
    border-top: 2px solid transparent;
}
nav a:hover {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
}

/************* Barre de recherche *************/
.search-bar {
    margin-top: 30px;
}
.search-bar h1 {
    margin-bottom: 8px;
}
.search-bar p {
    margin-top: 8px;
    margin-bottom: 35px;
    color: rgb(78, 77, 77);
    font-size: 16px;
}
.search-bar .map {
    display: flex;
    align-items: center;
}
.search-bar .map form {
    display: flex;
    flex-direction: row;
}
.search-bar .fa-solid {
    background-color: #F2F2F2;
    color: #000;
    border-radius: 15px 0 0 15px;
    height: 49px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 112%;
}
.search-bar input {
    position: relative;
    height: 49px;
    width: 236px;
    border: #F2F2F2 1px solid;
    font-weight: bold;
    font-size: 119%;
}
.search-bar input::placeholder {
    color: black;
    padding:0px 20px 0px 20px;
}
.search-bar #search-desktop {
    border-radius: 0 15px 15px 0;
    border: none;
    height: 49px;
    width: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 600;
    background-color: #0065FC;
    cursor: pointer;
    font-size: 17px;
}
.search-bar #search-mobile {
    display: none;
}

/************* Section filtre *************/
.filters-section{
    display: flex;
    margin: 35px 0 0 0px;
    align-items: center;
    gap: 15px;
}
.filters-section h2 {
    font-size: 18px;
    margin-left: 6px;
}
.filters-section p {
    font-weight: bold;
    font-size: 17px;
}
.filters-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.filters-types {
    display: flex;
    align-items: center;
    height: 50px;
    border: 2px solid #d9d9d9;
    border-radius: 40px;
    padding: 4px 19px;
    transition: 0.3s;
    gap: 10px;
    box-sizing: border-box;
}
.filters-types:hover {
    background-color: #DEEBFF;
    border: 2px solid #DEEBFF;
    cursor: pointer;
}
.filters-types:hover .filters-icon {
    transform: rotate(15deg);
}

/************* Section info *************/
.info-section {
    margin-top: 35px;
    margin-bottom: 35px;
}
.searchplus {
    display: flex;
    align-items: center;
    height: 24px;
    gap: 10px;
}
.searchplus .fa-info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    border: 1px solid #d9d9d9;
    width: 24px;
    height: 24px;
    font-size: 0.75em;
    border-radius: 50%;
}
.searchplus p {
    font-size: 106%;
    color: rgb(59, 59, 59);
}

/************* Hebergements et populaires *************/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}
.section-title {
    margin: 0;
    font-size: 22px;
}
.card-title {
    font-size: 16px;
}
.euro {
    font-weight: 700;
}
.neutral-star {
    color: var(--main-bg-color);
}
.card-rating {
    color: #0065FC;
}

/************* Herbegements cartes *************/
.hebergements {
    width: 67%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.lien-card {
    width: 30%;
    min-width: 120px;
    background-color: white;
    padding: 5px;
    margin-top: 33px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #DADADA;
    transition: 0.3s;
}
.lien-card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-title-hebergements {
    margin: 1px 0 8px 15px;
}
.card-subtitle-hebergements {
    margin: 8px 0 8px 15px;
}
.text-fin-hebergements {
    font-size: 18px;
    margin-top: 33px;
}
.card-rating-hebergements {
    color: #0065FC;
    margin: 0 0 0 15px;
}

/************* Populaires cartes *************/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}