/************* General *************/
* {
    font-family: 'Raleway', sans-serif;
    list-style-type: none; /* a joute */
    text-decoration: none;
    margin: 0;
    box-sizing: border-box; /* a joute */
}
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}
.fa-solid,
i {
    color: var(--main-color); /* a ajoute*/
}
body {
    display: flex;
    justify-content: center;
}
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}
a {
    color: inherit;   /* a voir si ca fonctionne (l'autre color: #000;)*/
    text-decoration: none;
}
.section-title {
    margin: 0;
    font-size: 22px;
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card img {
    object-fit: cover;
}
.card-title {
    font-size: 16px;
}
.euro {
    font-weight: 700;
}
.neutral-star {
    color: var(--main-bg-color)
}

/************* Navigation - logo et lien *************/
.global-nav {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    height: 79px;
    margin-bottom: 30px;
}
.global-nav img {
    display: block;
    width: 61px;
    height: 19px;
    align-self: center; /* ou center si tu veux centrer verticalement */
}
nav {
    display: flex;
    gap: 68px;
    height: 33px;
    padding:0px 0px 0px 50px;
}
nav a{
    color: black;
    text-align: center;
    padding-top: 14px;
    font-size: 16px;
    border-top: 2px solid transparent;
}
nav a:hover {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
}

/************* Barre de recherche *************/
.search-bar {
    margin-top: 30px;
}
.search-bar h1 {
    margin-bottom: 8px;
}
.search-bar p {
    margin-top: 8px;
    margin-bottom: 35px;
    color: rgb(78, 77, 77);
    font-size: 16px;
}
.search-bar .map {
    display: flex;
    align-items: center;
}
.search-bar .map form {
    display: flex;
    flex-direction: row;
}
.search-bar .fa-solid {
    background-color: #F2F2F2;
    color: #000;
    border-radius: 15px 0 0 15px;
    height: 49px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 112%;
}
.search-bar input {
    position: relative;
    height: 49px;
    width: 236px;
    border: #F2F2F2 1px solid;
    font-weight: bold;
    font-size: 119%;
}
.search-bar input::placeholder {
    color: black;
    padding:0px 20px 0px 20px;
}
.search-bar #search-desktop {
    border-radius: 0 15px 15px 0;
    border: none;
    height: 49px;
    width: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 600;
    background-color: #0065FC;
    cursor: pointer;
    font-size: 17px;
}
.search-bar #search-mobile {
    display: none;
}

/************* Section filtre *************/
.filters-section{
    display: flex;
    margin: 35px 0 0 0px;
    align-items: center;
    gap: 15px;
}
.filters-section h2 {
    font-size: 18px;
    margin-left: 6px;
}
.filters-section p {
    font-weight: bold;
    font-size: 17px;
}
.filters-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.filters-types {
    display: flex;
    align-items: center;
    height: 50px;
    border: 2px solid #d9d9d9;
    border-radius: 40px;
    padding: 4px 19px;
    transition: 0.3s;
    gap: 10px;
    box-sizing: border-box;
}
.filters-types:hover {
    background-color: #DEEBFF;
    border: 2px solid #DEEBFF;
    cursor: pointer;
}
.filters-types:hover .filters-icon {
    transform: rotate(15deg);
}

/************* Section info *************/
.info-section {
    margin-top: 35px;
    margin-bottom: 35px;
}
.searchplus {
    display: flex;
    align-items: center;
    height: 24px;
    gap: 10px;
}
.searchplus .fa-info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    border: 1px solid #d9d9d9;
    width: 24px;
    height: 24px;
    font-size: 0.75em;
    border-radius: 50%;
}
.searchplus p {
    font-size: 106%;
    color: rgb(59, 59, 59);
}

/************* Hebergements et populaires *************/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}
.section-title {
    margin: 0;
    font-size: 22px;
}
.card-title {
    font-size: 16px;
}
.euro {
    font-weight: 700;
}
.neutral-star {
    color: var(--main-bg-color);
}
.card-rating {
    color: #0065FC;
}

/************* Herbegements cartes *************/
.hebergements {
    width: 67%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.lien-card {
    width: 30%;
    min-width: 120px;
    background-color: white;
    padding: 5px;
    margin-top: 33px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #DADADA;
    transition: 0.3s;
}
.lien-card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-title-hebergements {
    margin: 1px 0 8px 15px;
}
.card-subtitle-hebergements {
    margin: 8px 0 8px 15px;
}
.text-fin-hebergements {
    font-size: 18px;
    margin-top: 33px;
}
.card-rating-hebergements {
    color: #0065FC;
    margin: 0 0 0 15px;
}

/************* Populaires cartes *************/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/************* Activites cartes *************/
.activites-section {
    margin-bottom: 35px;
    padding: 30px;
}
.activites-section h2 {
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.activites-list {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}
.activites-card{
    width: 30%;
}
.activites-card article {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #DADADA;
    overflow: hidden;
    transition: 0.3s;
}
.activites-card img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.activites-card h3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    padding: 20px 19px;
    gap: 10px;
    margin: 0px;
}

/************* Footer *************/
.global-footer {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    background-color: #F2F2F2;
    padding: 21px;
    margin-bottom: -11px;
}
.footer-menu {
    width: 32%;
}
.title-footer {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
}
.footer-menu ul {
    padding-left: 0px;
    margin: 0;
}
.footer-menu li {
    margin-top: 15px;
}


/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {

    /************* Navigation - logo et lien *************/
    .global-nav nav {
        margin: 0px;
    }

    /************* Section filtre *************/
    .filters-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }

    /************* Section infos *************/
    .searchplus .fa-info {
        width: 24px;
        height: 24px;
    }

    /************* Herbegements et Populaires *************/
    .hebergements-and-populaires {
        flex-direction: column;
    }

    /************* Herbegements cartes *************/
    .hebergements {
        width: 100%;
    }

    /************* Populaires cartes *************/
    .populaires {
        width: 100%;
        margin-top: 50px;
    }
    .populaires-cards {
        display: flex;
        justify-content: space-between;
      }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /************* Activites cartes *************/
    .activites-searchresults {
        margin-top: 35px;
    }
    .activites-list {
        display: flex;
        height: 270px;
        width: 100%;
        object-fit: cover;
    }
    .activites-card article {
        width: 100%;
    }
    .activites-card img {
        height: 200px;
    }
    .activites-card h3 {
        width: auto;
        height: auto;
    }

    /************* Footer *************/
    .global-footer {
        gap: 31px;
    }
}



/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {
    /************* Navigation - logo et lien *************/
    .main-container {
        padding: 0;
    }
    .global-nav {
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .global-nav img {
        margin: 30px;
    }
    .global-nav nav {
        width: 100%;
        gap: 0;
        padding: 0;
        display: flex;
    }
    .global-nav nav a {
        width: 50%;
        padding-top: 0;
        border-bottom: 2px solid transparent;
        border-top: 0;
    }
    .global-nav nav a:hover {
        border-top: transparent;
        border-bottom: 2px solid var(--main-color);
    }

    /************* Barre de recherche *************/
    .search-bar {
        padding: 0 20px;
    }
    .search-bar h1 {
        font-size: 22px;
    }
    .search-bar .map {
        display: flex;
        align-items: center;
        position: relative;
        gap: 0;
    }
    .search-bar .map form {
        display: flex;
        flex: 1;
    }
    .search-bar .fa-location-dot {
        background-color: #F2F2F2;
        color: #000;
        border-radius: 15px 0 0 15px;
        height: 49px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 112%;
    }
    .search-bar input.city {
        width: 90%;
        height: 49px;
        border: 1px solid #F2F2F2;
        font-weight: bold;
        font-size: 119%;
        border-radius: 0;
    }
    .search-bar #search-desktop {
        display: none;
    }
    .search-bar #search-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 49px;
        width: 49px;
        background-color: #0065FC;
        color: #ffffff;
        font-size: 18px;
        border-radius: 14px 14px 14px 14px;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        position: absolute;
        right: 0;
    }

    /************* Section filtre *************/
    .filters-section {
        display: flex;
        padding: 0 20px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        }
    .filters-list {
        display: flex;
        width: 100%;
        align-items: flex-start;            
        justify-content: space-between;
        gap: 0;
        }
    .filters-types {
        width: 49%;
        margin-bottom: 20px;
        font-size: 13px;
        }

    /************* Section infos *************/
    .info-section {
        padding: 0 25px;
    }
    .searchplus .fa-info {
        max-width: 24px;
        max-height: 24px;
    }

    /************* Herbegements et Populaires *************/
    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 15px;
    }

    /************* Herbegements cartes *************/
    .hebergements {
        display: block;
        width: 100%;
        padding: 20px;
        margin-bottom: 35px;
        background-color: #ffffff;
    }
    .hebergements .section-title {
        margin-bottom: 15px;
    }
    .hebergements-cards {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
    .lien-card {
        width: 97%;
        margin-top: 0;
    }
    .text-fin-hebergements {
        margin-top: 15px;
    }

    /************* Populaires cartes *************/
    .populaires {
        width: 100%;
        border-radius: 0;
        padding: 30px 20px;
    }
    .populaires-cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .card {
    width: 98%;
    height: 146px;
    }

    /************* Activites cartes *************/
    .activites-section {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    }
    .activites-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    }
    .activites-card {
    width: 100%;
    }
    .activites-card img{
    width: 100%;
    height: 141px;
    }

    /************* Footer *************/
    .global-footer {
        padding: 31px;
        flex-direction: column;
        gap: 51px;
    }
    .footer-menu {
        width: 263px;
    }
    .footer-menu h4 {
        margin-bottom: 14px;

    }
    .footer-menu li {
        margin-top: 0;
    }
    .footer-menu ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
    }
}




