/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Header ***********/
.header-navigation {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    height: 79px;
    margin-bottom: 30px;
}
.header-navigation img{
    display: flex;
    flex-direction: column;
    width: 61px;
    height: 19px;
    padding: 30px 50px 30px 0;
}
nav {
    display: flex;
    gap: 68px;
    height: 33px;
    padding:0px 0px 0px 50px;
}
nav a{
    color: black;
    text-align: center;
    padding-top: 14px;
    font-size: 16px;
    border-top: 2px solid transparent;
}
nav a:hover {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
}


/********* Barre de recherche *********/
.barre-de-recherche {
    margin-top: 30px;
}
.barre-de-recherche h1 {
    margin-bottom: 8px;
}
.barre-de-recherche p {
    margin-top: 8px;
    margin-bottom: 35px;
    color: rgb(78, 77, 77);
}
.barre-de-recherche .map {
    display: flex;
}
.barre-de-recherche .fa-solid {
    background-color: #F2F2F2;
    color: #000;
    border-radius: 15px 0 0 15px;
    height: 49px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 112%;
}
.barre-de-recherche input {
    position: relative;
    height: 49px;
    width: 236px;
    border: #F2F2F2 1px solid;
    font-weight: bold;
    font-size: 119%;
}
.barre-de-recherche input::placeholder {
    color: black;
    padding:0px 20px 0px 20px;
}
.barre-de-recherche #search-desktop {
    border-radius: 0 15px 15px 0;
    border: none;
    height: 49px;
    width: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 600;
    background-color: #0065FC;
    cursor: pointer;
}


/********** Icon section filtre *************/
.filters-section{
    display: flex;
    margin: 35px 0 0 0px;
    align-items: center;
    gap: 15px;
}
.filters-section p {
    font-weight: bold;
}
.filters-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.filters-types {
    display: flex;
    align-items: center;
    height: 50px;
    border: 2px solid #d9d9d9;
    border-radius: 40px;
    padding: 4px 19px;
    transition: 0.3s;
    gap: 10px;
    box-sizing: border-box;
}
.filters-types:hover {
    background-color: #DEEBFF;
    border: 2px solid #DEEBFF;
    cursor: pointer;
}
.filters-types:hover .filters-icons {
    transform: rotate(15deg);
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}